@model IEnumerable<Sabores.Models.Menus>

@{
    ViewData["Title"] = "Index";
}
<input class="btn btn-light" type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
<h2>Gestión de registros del menu de cocina</h2>

<p>
    <a asp-action="Create">Agregar un registro nuevo al menu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMenu">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMenu">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMenu">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
