@model Sabores.Models.Restaurantes

@{
    ViewData["Title"] = "Details";
}
<input class="btn btn-light" type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
<h2>Ver detall del restaurante</h2>

<div>
    <h4>Restaurantes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesas)
        </dd>
    </dl>
</div>

