@model IEnumerable<Sabores.Models.Restaurantes>

@{
    ViewData["Title"] = "Index";
}
<input class="btn btn-light" type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
<h2>Gestion de restaurantes</h2>

<p>
    <a asp-action="Create">Agregar un nuevo restaurante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRestaurante"><input type="button" value="Actualizar" class="btn btn-info btn-sm" /></a> |
                <a asp-action="Details" asp-route-id="@item.IdRestaurante">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRestaurante"><input type="button" value="Eliminar" class="btn btn-danger btn-sm" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
