@model IEnumerable<Sabores.Models.Restaurantes>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRestaurante">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRestaurante">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRestaurante">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
