@model Sabores.Models.Reservaciones

@{
    ViewData["Title"] = "Details";
}
<input class="btn btn-light" type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
<h2>Detalle de la reservacion</h2>

<div>
    <h4>Reservaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reserva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reserva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Restaurante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restaurante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>
    </dl>
</div>
