@model IEnumerable<Sabores.Models.Reservaciones>

@{
    ViewData["Title"] = "Index";
}
<input class="btn btn-light" type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
<h2>Gestion de reservaciones</h2>

<p>
    <a asp-action="Create">Agregar nueva reservacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReservacion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdReservacion">Detailles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReservacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
