@model Sabores.Models.Reservas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restaurante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restaurante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Actividad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Actividad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoMesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoMesa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Personas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Personas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdReservacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
